body{
  background: rgba(82, 60, 9, 0.696);
}

.card{
  width: 640px;
  background: rgb(57, 134, 193);

}
select{
  font-size: 26px !important;
  width: 100px;
height: 42px !important;
background: white;
}

p{
  font-size: 14px;
  line-height: 2.2;
}